/* <!-- Rule: Mobile First --> */
* {
    outline: 1px solid red;
}

/* Root Section */
:root {
    /* Color Scheme */
    --nav-bar-bg: #2c3e50;
    --jumbotron-bg: #1abc9c;

    /* Portfolio Cards */
    --card-1: #ba4b63;
    --card-2: #1ea4b6;
    --card-3: #140f0f;
    --card-4: #1c83c1;
    --card-5: #0e38b5;
    --card-6: #ccb2a3;

    /* About-Us Section */

    /* Footer Section */
    --footer-top-bg: #3a546d;
    --footer-bttm-bg: #2c3e50;
}

/* ---- CSS Begin ---- */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.star-divider > i {
    font-size: 2rem;
}
    .me-star-line {
        width: 15%;
        height: 3px;
    }

/* Header Section */
.me-nav-bg {
    background-color: var(--nav-bar-bg);
}
.jumbotron {
    background-color: var(--jumbotron-bg);
}
    .jumbot-title {
        font-weight: 600;
        font-size: 2.2rem;
    }
    .me-star-color-jumb {
        color: white;
    }
    .me-star-line-jumb {
        background-color: white;
    }
    @media screen and (min-width:768px) {
        .jumbot-title {
            font-size: 3rem;
        }
    }

/* -- Main Content -- */

/* Portfolio Section */
.portfolio {
}
    .portfolio-title {
        color: #333333;
        font-weight: 600;
    }
    .me-star-color-portfolio {
        color: #2c3e50;
    }
    .me-star-line-portfolio {
        background-color: #2c3e50;
    }


/* About-Us Section */
.about-us {
    background-color: var(--jumbotron-bg);
}
    .me-about-us-row {
        padding: 0 5rem;
    }
    .about-us-title {
        color: #333333;
        font-weight: 600;
    }
    .me-about-paragraph {
        font-size: 1.5rem;
    }
    .me-star-color-about {
        color: #2c3e50;
    }
    .me-star-line-about {
        background-color: #2c3e50;
    }

    @media screen and (min-width:768px){
        .me-about-paragraph {
            font-size: 1.2rem;
        }
    }
    @media screen and (min-width:992px){
        .me-about-paragraph {
            font-size: 1.5rem;
        }
        .me-about-us-row {
            padding: 0 7rem;
        }
    }

/* Contact-Me Section */
.contact-me {
    height: 600px;
}

/* Footer Section */
.footer-top {
    background-color: var(--footer-top-bg);
    height: 600px;
}

.footer-bttm {
    background-color: var(--footer-bttm-bg);
    height: 200px;
}