/* <!-- Rule: Mobile First --> */
* {
    outline: 1px solid red;
}

/* Root Section */
:root {
    /* Color Scheme */
    --nav-bar-bg: #2c3e50;
    --jumbotron-bg: #1abc9c;

    /* Portfolio Cards */
    --card-1: #ba4b63;
    --card-2: #1ea4b6;
    --card-3: #140f0f;
    --card-4: #1c83c1;
    --card-5: #0e38b5;
    --card-6: #ccb2a3;

    /* About-Us Section */

    /* Footer Section */
    --footer-top-bg: #3a546d;
    --footer-bttm-bg: #2c3e50;
}

/* ---- CSS Begin ---- */

/* Header Section */
.nav-bar {
    background-color: var(--nav-bar-bg);
    height: 100px;
}
.jumbotron {
    background-color: var(--jumbotron-bg);
}

/* -- Main Content -- */

/* Portfolio Section */
.portfolio {
}

.me-portfolio-card {
}

/* About-Us Section */
.about-us {
    background-color: var(--jumbotron-bg);
    height: 600px;
}

/* Contact-Me Section */
.contact-me {
    height: 600px;
}

/* Footer Section */
.footer-top {
    background-color: var(--footer-top-bg);
    height: 600px;
}

.footer-bttm {
    background-color: var(--footer-bttm-bg);
    height: 200px;
}