/* <!-- Rule: Mobile First --> */
* {
    /* outline: 1px solid red; */
}

/* Root Section */
:root {
    /* Color Scheme */
    --nav-bar-bg: #2c3e50;
    --jumbotron-bg: #1abc9c;

    /* Portfolio Cards */
    --card-1: #ba4b63;
    --card-2: #1ea4b6;
    --card-3: #140f0f;
    --card-4: #1c83c1;
    --card-5: #0e38b5;
    --card-6: #ccb2a3;

    /* About-Us Section */

    /* Footer Section */
    --footer-top-bg: #3a546d;
    --footer-bttm-bg: #2c3e50;
}

/* ---- CSS Begin ---- */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Stars Divers Section */
.star-divider > i {
    font-size: 1.8rem;
}
    .me-star-line {
        width: 15%;
        height: 4px;
    }
    .me-star-color-jumb, 
    .me-star-color-about {
        color: white;
    }
    .me-star-line-jumb,
    .me-star-line-about {
        background-color: white;
    }
    .me-star-color-portfolio,
    .me-star-color-contact {
        color: #2c3e50;
    }
    .me-star-line-portfolio,
    .me-star-line-contact {
        background-color: #2c3e50;
    }

/* Header Section */
.me-nav-bg {
    background-color: var(--nav-bar-bg);
}
    .navbar {
        padding: 1.5rem 0;
    }
    .navbar-brand {
        font-weight: 600;
        letter-spacing: 0.1rem;
    }
    .navbar-toggler-icon {
        filter: invert(1);
    }
    .nav-link {
        font-weight: 600;  
    }

.jumbotron {
    background-color: var(--jumbotron-bg);
}
    .jumbot-title {
        font-weight: 600;
        font-size: 2.2rem;
    }
    .me-jumbot-paragraph {
        font-weight: 500; 
        letter-spacing: 0.05rem;
    }
    @media screen and (min-width:768px) {
        .jumbot-title {
            font-size: 3rem;
        }
        .me-jumbot-paragraph {
            font-weight: 500; 
            font-size: 1.2rem;
        }
    }

/* -- Main Content -- */

/* Portfolio Section */
.portfolio {
}
    .portfolio-title {
        color: #333333;
        font-weight: 600;
    }
    @media screen and (min-width:768px) {
        .portfolio-title {
            font-size: 2.6rem;
        }
    }


/* About-Us Section */
.about-us {
    background-color: var(--jumbotron-bg);
}
    .me-about-us-row {
        padding: 0 5rem;
    }
    .about-us-title {
        color: #333333;
        font-weight: 600;
    }
    .me-dowload-btn-ml {
        margin-right: 0.5rem;
    }
        .me-dowload-btn:hover {
            color: var(--jumbotron-bg);
        }

    @media screen and (min-width:768px){
        .me-about-us-row {
            padding: 0 4.5rem;
        }
        .about-us-title {
            font-size: 2.6rem;
        }
    }
    @media screen and (min-width:992px){
        .me-about-us-row {
            padding: 0 7rem;
        }
    }

/* Contact-Me Section */
.me-contact-row {
    padding: 0 5rem;
}
    .form-control {
      color: #2c3e50;  
    }
        /* Input Placeholder Color */
        .form-control::placeholder {
            color: #2c3e50;
            opacity: 1; /* Firefox */
        }
        .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #2c3e50;
        }
        .form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: #2c3e50;
           }
    .me-contact-send-btn {
        background-color: #1abc9c;
        border-color: #1abc9c;
    }
        .me-contact-send-btn:hover {
            background-color: #0cdfb4;
            border-color: #1abc9c;
        }

    @media screen and (min-width:768px){
        .me-contact-row {
            padding: 0 4.5rem;
        }
        .about-us-title {
            font-size: 2.6rem;
        }
        .me-about-paragraph-left {
            margin-right: 0.6rem;
        }
        .me-about-paragraph-right {
            margin-left: 0.6rem;
        }
    }
    @media screen and (min-width:992px){
        .me-contact-row{
            padding: 0 7rem;
        }
    }

/* Footer Section */
.footer-top {
    background-color: var(--footer-top-bg);
}
    .me-social-btn {
        width: 50px;
        height: 50px;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .me-social-btn:hover {
            color: var(--footer-top-bg);
        }

.footer-bttm {
    background-color: var(--footer-bttm-bg);
    
}