/* <!-- Rule: Mobile First --> */
* {
    outline: 1px solid red;
}

/* Root Section */
:root {
    /* Color Scheme */
    --jumbotron-bg: #1abc9c;

    /* Portfolio Cards */
    --card-1: #ba4b63;
    --card-2: #1ea4b6;
    --card-3: #140f0f;
    --card-4: #1c83c1;
    --card-5: #0e38b5;
    --card-6: #ccb2a3;

}

/* ---- CSS Begin ---- */

/* Header Section */
.jumbotron {
    background-color: var(--jumbotron-bg);
    height: 600px;
}

/* -- Main Content -- */

/* Portfolio Section */
.portfolio {
}

.me-portfolio-card {
    background-color: var(--jumbotron-bg);
}